body
{
	margin: 0;
	padding: 0;
	color: #F9DD1C;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #600000;
}

a, a:hover
{
	color: #F90C1C;
}

h1, h2, h3, h4, h5
{
	color: #F9DD1C;
	text-decoration: underline;
}

#page
{
	margin-bottom: 5px;
	background: #600000;
}

#header
{
	margin: 0;
	padding: 0;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 2px solid #500000;
}

#logo
{
	font-size: 200%;
	text-align: center;
}

#mainmenu
{
	background-color:#500000;
	text-align: center;
}

#mainmenu ul
{
	padding:10px 0px 10px 0px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 10px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #F9DD1C;
	background-color:#702020;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.dark-content
{
	background-color: #440001; 
	padding: 10px; 
	border: 1px dashed #2a0000;
}

.light-content
{
	background-color: #600000; 
	padding: 10px; 
	border: 1px dashed #2a0000;
}

.bar-background
{
	width: 240px; 
	height: 15px; 
	background-color: #181111; 
	border: 1px solid #362f2d;
}

.bar-fill
{
	height: 15px; 
	background-color: #77bb1a; 
	font-size: 12px;
	
	behavior: url(PIE.htc);
	filter: Shadow(Color=black, Direction=0, Strength=5);
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
	color: white;

  	font-weight: bold;
}

.tooltip
{
	position: absolute;
	background-color: black;
	color: white;
	padding: 5px;
	max-width: 200px;
}

.separator-bar
{
	background-image: url('../images/f_h_p2_tabla.jpg');
	background-repeat: repeat-x;
	width: 100%;
	height: 12px;
}

.separator-bar-alternative
{
	background-image: url('../images/f_h_p_tabla.jpg');
	background-repeat: repeat-x;
	width: 100%;
	height: 12px;
}

.wood-separator-bar
{
	background-image: url('../images/f_h_tabla.jpg');
	background-repeat: repeat-x;
	width: 100%;
	height: 20px;
}